<div class="logo">
    <a href="#"><img src="../images/logo.png" alt="pokemon image logo"></a>
</div>
<!-- <div>
    <span class="nav-bar" id="btnMenu"><i class="fa-solid fa-bars"></i> Menu</span>
    <nav class="main-nav">
        <ul class="menu" id="menu">
            <li class="menu__item container-submenu">
                <a href="#" class="menu__link submenu-btn">Pokemon Games <i class="fa-solid fa-caret-down"></i></a>
                <ul class="submenu">
                    <li class="menu__item"><a href="" class="menu__link">Yellow</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Gold</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Silver</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Crystal</a></li>
                </ul>
            </li>
            <li class="menu__item container-submenu">
                <a href="#" class="menu__link submenu-btn">Pokemon Types <i class="fa-solid fa-caret-down"></i></a>
                <ul class="submenu">
                    <li class="menu__item"><a href="" class="menu__link">Normal</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Water</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Steel</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Fire</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div> -->
<div class="header__2">
    <div class="container__menu">
        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check"><i class="fa-solid fa-bars icon__menu"></i> </label>
            <nav>
                <ul>
                    <li><a href="#">Pokemon Games</a>
                        <ul>
                            <li><a href="#">Yellow</a></li>
                            <li><a href="#">Gold</a></li>
                            <li><a href="#">Silver</a></li>
                            <li><a href="#">Crystal</a></li>
                            <li><a href="#">Sapphire</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pokemon Types</a>
                        <ul>
                            <li><a href="#">Normal</a></li>
                            <li><a href="#">Water</a></li>
                            <li><a href="#">Steel</a></li>
                            <li><a href="#">Fire</a></li>
                            <li><a href="#">Plant</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="search">
        <input type="search" placeholder="Look for a pokemon!">
    </div>
</div>