<div class="header__2">
    <div class="container__menu">
        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check"><i class="fa-solid fa-bars icon__menu"></i> </label>
            <nav>
                <ul id="nav_bar_hidden">
                    <li><a href="../index.html"></a></li>
                    <li><a href="#">Pokemon Regions</a>
                        <ul id="regionsButtons">
                            <li><a href="../regions/kanto.html">Kanto</a></li>
                            <li><a href="../regions/johto.html">Johto</a></li>
                            <li><a href="../regions/hoenn.html">Hoenn</a></li>
                            <li><a href="../regions/sinnoh.html">Sinnoh</a></li>
                            <li><a href="../regions/unova.html">Unova</a></li>
                            <li><a href="../regions/kalos.html">Kalos</a></li>
                            <li><a href="../regions/alola.html">Alola</a></li>
                            <li><a href="../regions/galar.html">Galar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pokemon Types</a>
                        <ul id="typesButtons">
                            <li><a href="#">Steel</a></li>
                            <li><a href="#">Water</a></li>
                            <li><a href="#">Bug</a></li>
                            <li><a href="#">Dragon</a></li>
                            <li><a href="#">Electric</a></li>
                            <li><a href="#">Ghost</a></li>
                            <li><a href="#">Fire</a></li>
                            <li><a href="#">Fairy</a></li>
                            <li><a href="#">Ice</a></li>
                            <li><a href="#">Fighting</a></li>
                            <li><a href="../types/normal.html">Normal</a></li>
                            <li><a href="#">Grass</a></li>
                            <li><a href="#">Psychic</a></li>
                            <li><a href="#">Rock</a></li>
                            <li><a href="#">Dark</a></li>
                            <li><a href="#">Ground</a></li>
                            <li><a href="#">Poison</a></li>
                            <li><a href="#">Flying</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="logo">
        <a href="#"><img src="../images/logo_03.png" alt="pokemon image logo"></a>
    </div>
    <div class="search">
        <input type="search" placeholder="Look for a pokemon!">
    </div>
</div>