<div class="header__2">
    <div class="container__menu">
        <div class="menu">
            <input type="checkbox" id="check__menu">
            <label for="check__menu" id="label__check"><i class="fa-solid fa-bars icon__menu"></i> </label>
            <nav>
                <ul>
                    <li><a href="../index.html"></a></li>
                    <li><a href="#">Pokemon Regions</a>
                        <ul>
                            <li><a href="#">Kanto</a></li>
                            <li><a href="#">Johto</a></li>
                            <li><a href="#">Hoenn</a></li>
                            <li><a href="#">Sinnoh</a></li>
                            <li><a href="#">Unova</a></li>
                            <li><a href="#">Kalos</a></li>
                            <li><a href="#">Alola</a></li>
                            <li><a href="#">Galar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Pokemon Types</a>
                        <ul>
                            <li><a href="#">Normal</a></li>
                            <li><a href="#">Water</a></li>
                            <li><a href="#">Steel</a></li>
                            <li><a href="#">Fire</a></li>
                            <li><a href="#">Plant</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="logo">
        <a href="#"><img src="../images/logo.png" alt="pokemon image logo"></a>
    </div>
    <div class="search">
        <input type="search" placeholder="Look for a pokemon!">
    </div>
</div>