@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Telex', sans-serif;
}
body {
    margin: 0 auto;
    max-width: 1200px;
}

a h5 {
    text-align: center;
    text-transform: capitalize;
}
main a {
    color: #3c5aa6;
}
/* Search Button */
#searchbutton {
    background-color: #fee151;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    border: #DFDFDF 1px solid;
    margin-left: 10px;
}
#searchbutton:hover {
    background-color: #DFDFDF;
    color: #000000;
    border: #3c5aa6 1px solid;
}

/* Pokemon Detail Card */
title {
    text-transform: capitalize;
}
.poke-card {
    max-width: 70%;
    margin: 20px auto;
    background-color: #fee151;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0 #DFDFDF;
}
.poke-card div {
    max-width: 90%;
    margin: 0 auto;
}
.poke-card__title {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;  
    padding: 10px
}

.poke-card__name {
    text-transform: capitalize;
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
.poke-card__hp {
    justify-self: end;
    align-self: end;
    font-size: 2em;
}
.poke-card__hp_text {
    font-size: .5em;
}
.poke-card__type {
    margin: 5px;
    max-width: 40px;
    justify-self: center;
    /* add drop shadow to circular image */
    -webkit-filter: drop-shadow(0px 0px 3px #383838);
    filter: drop-shadow(0px 0px 3px #383838);
}
.poke-card__image_container {
    max-width: 80%;
    background-color: #FFFFFF;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #DFDFDF;
}
.poke-card__image {
    max-width: 100%;
    margin: 10px auto;
}
.poke-card__stats_container {
    /* padding: 10px 5px 5px 5px; */
    /* background-color: #CFCFCF; */
    display: flex;
    align-items: left;
    max-width: 95%;
    
}
.poke-card__stats_container div {
    margin: 0;
}
.poke-card__stats {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #DFDFDF;
    border-radius: 0 0 10px 10px;
    padding: 5px 0 5px 10px;
    position: relative;
    font-size: 14px;
    z-index: 50;
    width: 100%;
}
.poke-card__stats:before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 40px;
    height: 40px;
    border-bottom-left-radius: 50%;
    z-index: -50;
    /* background-color: #CFCFCF; */
    box-shadow: 0 20px 0 0 #DFDFDF;
}

.poke-card__stats p {
    margin: 0 0 0 15px;
}
.poke-card__stats_alignment {
    width: 50px;
    background-color: none;

}
.poke-card__ability {
    text-transform: capitalize;
    padding-right: 40px;
}

.poke-card__entry {
    padding: 10px;
    margin: 0 auto;
}

.poke-card__moves_title {
    padding-left: 10px;
}
.poke-card__info {
    padding-bottom: 20px;
}
.poke-card__moves, .poke-card__moves_expand_list {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.poke-card__moves li, .poke-card__moves_expand_list li {
    text-transform: capitalize;
    list-style-type: none;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: right;
}
#poke-card__moves_expand {
    background-color: #3c5aa6;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    border: #DFDFDF 1px solid;
}
#poke-card__moves_expand:hover {
    background-color: #DFDFDF;
    color: #000000;
    border: #3c5aa6 1px solid;
}
.hidden {
    display: none;
}
.poke-card__evolution_title {
    padding: 10px 0 0 10px;
}

.poke-card__error {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

/* Grid-View */
/*width of card should only fit around content*/
.card {
    background-color: #fee151;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    width: fit-content;
}
.card a {
    text-decoration: none;
    color: #000000;
}
.card h5 {
    text-transform: capitalize;
    text-align: center;
}
.card img {
    background-color: #FFFFFF;
    margin: 10px 0 0 0;
    border-radius: 5px;
    border: #DFDFDF 2px solid;
}


.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    justify-items: center;
}
header {
    /* width: 100%; */
    padding: 0;
    /* position: fixed; */
    top: 0;
    left: 0;
    background: #fff;
}
/* Logo */
.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    width: 200px;
}
/* ________________________________ */
.header__2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3c5aa6;
}
.search {
    margin: 0 15px;
    background: #3c5aa6;
}
.search input {
    width: 300px;
    padding: 10px;
}
/* Menu-navbar */
/* First Icon */
nav > ul > li:first-child > a {
    background-image: url(../images/pokeball.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover > a {
    background-image: url(../images/pokeball.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}
.container__menu {
    /* width: 100%; */
    height: 70px;
    background: #3c5aa6;
    padding: 0px 20px;
}
.menu {
    /* max-width: 1200px; */
    margin: auto;
    height: 100%;
}
nav {
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #2a75bb;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
/* Subemnu */
nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav > ul > li > ul::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a {
    display: block;
    color: #2a75bb;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    transition: all 300ms ease;
}
nav ul li ul li a:hover {
    background: #2a75bb;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

/* Responsive part */
.icon__menu {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check {
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu {
    display: none;
}

@media screen and (max-width: 720px){
    .header__2 {
        padding: 0px;
    }
    .logo img {
        width: 100px;
    }
    .search input{
        transition: all 0.5 ease;
        width: auto;
    }
    nav > ul {
        flex-direction: column;
        background-color: #3c5aa6;
        position: fixed;
        left: 0;
        /* top: 158px; */
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover {
        transform: scale(1);
    }
    nav ul li ul {
        left: 100px;
    }
    nav > ul > li:hover > ul {
        top: 50px;
    }
    #label__check {
        display: block;
    }
    .icon__menu {
        display: flex !important;
    }
    #check__menu:checked ~ nav > ul {
        height: 180px;
        visibility: visible;
        opacity: 1;
    }



    /* Responsive Card Styling */
    .poke-card__hp {
        font-size: 20px;
        grid-column-start: 2;
    }
    .poke-card__stats {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .poke-card__stats p {
        align-self: left;
    }

}
@media screen and (max-width: 800px) {
    .search input {
        width: auto;
        transition: all 0.5 ease;
    }
}

/* Footer */
footer a:visited {
    color: #fff;
}
footer {
    text-align: center;
}
.footer__1 {
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    background-color: #3c5aa6;

}