* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    margin: 0 auto;
    max-width: 1200px;
}
/* Pokemon Detail Card */
.poke-card {
    max-width: 70%;
    margin: 20px auto;
    background-color: #fee151;
    border-radius: 20px;
}
.poke-card div {
    max-width: 90%;
    margin: 0 auto;
}
.poke-card__title {
    display: flex;
    justify-content: space-between;
    padding: 10px
}
.poke-card__name {
    text-transform: capitalize;
}
.poke-card__type {
    margin: 5px;
    max-width: 40px;
}
.poke-card__image_container {
    max-width: 80%;
    background-color: #FFFFFF;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.poke-card__image {
    max-width: 100%;
    margin: 10px auto;
}

.poke-card__ability {
    text-transform: capitalize;
}



/*width of card should only fit around content*/
.card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    width: fit-content;
   

}
.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
header {
    width: 100%;
    padding: 0;
    /* position: fixed;
    top: 0;
    left: 0; */
    background: #fff;
}
/* Logo */
.logo {
    margin: 0 auto;
    text-align: center;
}
.logo img {
    width: 200px;
}
/* ________________________________ */
.header__2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #3c5aa6;
}
.search {
    margin: 0 15px;
    background: #3c5aa6;
}
.search input {
    width: 300px;
    padding: 10px;
}
/* Menu-navbar */
.container__menu {
    width: 100%;
    height: 70px;
    background: #3c5aa6;
    padding: 0px 20px;
}
.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav {
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;
}
nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #2a75bb;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
/* Subemnu */
nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav > ul > li > ul::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a {
    display: block;
    color: #2a75bb;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    transition: all 300ms ease;
}
nav ul li ul li a:hover {
    background: #2a75bb;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

/* Responsive part */
.icon__menu {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
#label__check {
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu {
    display: none;
}

@media screen and (max-width: 720px){
    .header__2 {
        padding: 0px;
    }
    .logo img {
        width: 100px;
    }
    .search input{
        width: auto;
    }
    nav > ul {
        flex-direction: column;
        background-color: #3c5aa6;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover {
        transform: scale(1);
    }
    nav ul li ul {
        left: 90px;
    }
    nav > ul > li:hover > ul {
        top: 50px;
    }
    #label__check {
        display: block;
    }
    .icon__menu {
        display: flex !important;
    }
    #check__menu:checked ~ nav > ul {
        height: 100px;
        visibility: visible;
        opacity: 1;
    }




}